// colors
$stColor : #15222e;
$secColor : #5bba02;
$thirdColor: #233f25;
$footer : #1b1d24;
$gold : #d8ac08;
$dgold: #fa8100;
$black : #000;
$white : #FFF;
$blue: #224b80;
$lightBlue: #2b79e1;
$footer: #003a41;
$lfooter: #1c4e54;
$gfooter: #008291;
$bg: #f4f5fa;
// Socials
// $twitter : #29baf1;
// $insta : #b08371;
// $fb : #204fa5;
// $yt : #b5040a;
// $gp : #d26a5e;
// $linkdin : #337597;
// Font
$baseFont : 'ITC-r';

